{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./",
          "utils": "utils",
          "components": "components"
        }
      }
    ]
  ]
}
